## Jupyter Notebook

In [1]:
1 + 1

2

In [12]:
2 + 2
3 + 3

6

## Import Pandas

In [2]:
import pandas as pd

## Create Series Object

In [3]:
ice_cream_flavors = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [4]:
pd.Series(data = ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [5]:
ice_cream_flavors = ["Chocolate", "Vanilla", "Strawberry", "Rum Raisin"]
day_of_week = ["Monday", "Wednesday", "Friday", "Saturday"]

pd.Series(ice_cream_flavors, day_of_week)
pd.Series(data = ice_cream_flavors, index = day_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

## Importing CSV Dataset

In [6]:
pd.read_csv(filepath_or_buffer = "pokemon.csv")
pd.read_csv("pokemon.csv")

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [8]:
pd.read_csv("pokemon.csv", index_col = "Pokemon")
pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

In [9]:
pokemon = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)

## Previewing a Series

In [14]:
pokemon.head()
pokemon.head(5)

pokemon.head(8)
pokemon.head(1)

Pokemon
Bulbasaur    Grass / Poison
Name: Type, dtype: object

In [15]:
pokemon.tail()
pokemon.tail(5)
pokemon.tail(3)

Pokemon
Zeraora     Electric
Meltan         Steel
Melmetal       Steel
Name: Type, dtype: object

## Sorting a Series by Values

In [19]:
pokemon.sort_values()
pokemon.sort_values(ascending = True)

pokemon.sort_values(ascending = False)

Pokemon
Empoleon      Water / Steel
Carracosta     Water / Rock
Corsola        Water / Rock
Relicanth      Water / Rock
Tirtouga       Water / Rock
                  ...
Wurmple                 Bug
Burmy                   Bug
Pinsir                  Bug
Silcoon                 Bug
Illumise                Bug
Name: Type, Length: 809, dtype: object

## Sorting a Series by Index

In [20]:
pokemon.head()

Pokemon
Bulbasaur     Grass / Poison
Ivysaur       Grass / Poison
Venusaur      Grass / Poison
Charmander              Fire
Charmeleon              Fire
Name: Type, dtype: object

In [22]:
pokemon.sort_index()

pokemon.sort_index(ascending = True)

Pokemon
Abomasnow        Grass / Ice
Abra                 Psychic
Absol                   Dark
Accelgor                 Bug
Aegislash      Steel / Ghost
                  ...
Zoroark                 Dark
Zorua                   Dark
Zubat        Poison / Flying
Zweilous       Dark / Dragon
Zygarde      Dragon / Ground
Name: Type, Length: 809, dtype: object

In [23]:
pokemon.sort_index(ascending = False)

Pokemon
Zygarde      Dragon / Ground
Zweilous       Dark / Dragon
Zubat        Poison / Flying
Zorua                   Dark
Zoroark                 Dark
                  ...
Aegislash      Steel / Ghost
Accelgor                 Bug
Absol                   Dark
Abra                 Psychic
Abomasnow        Grass / Ice
Name: Type, Length: 809, dtype: object

## The `inplace` Parameter

In [25]:
pokemon.sort_values()

pokemon.sort_values(inplace = True)

pokemon.head()

Pokemon
Illumise    Bug
Silcoon     Bug
Pinsir      Bug
Burmy       Bug
Wurmple     Bug
Name: Type, dtype: object

In [28]:
pokemon.sort_index()

pokemon.sort_index(inplace = True)

pokemon.head()

Pokemon
Abomasnow      Grass / Ice
Abra               Psychic
Absol                 Dark
Accelgor               Bug
Aegislash    Steel / Ghost
Name: Type, dtype: object

## Helpful Methods

In [34]:
pokemon.value_counts()

pokemon.value_counts().head()

pokemon.value_counts(ascending = True)

Electric / Ghost     1
Bug / Ghost          1
Rock / Fighting      1
Rock / Dark          1
Fighting / Dark      1
                    ..
Fire                30
Psychic             35
Grass               38
Water               61
Normal              65
Name: Type, Length: 159, dtype: int64

In [35]:
pokemon.value_counts(normalize = True)

Normal              0.080346
Water               0.075402
Grass               0.046972
Psychic             0.043263
Fire                0.037083
                      ...
Fighting / Dark     0.001236
Rock / Dark         0.001236
Rock / Fighting     0.001236
Bug / Ghost         0.001236
Electric / Ghost    0.001236
Name: Type, Length: 159, dtype: float64

In [31]:
pokemon.nunique()

159

In [37]:
pokemon.drop_duplicates()

Pokemon
Abomasnow          Grass / Ice
Abra                   Psychic
Absol                     Dark
Accelgor                   Bug
Aegislash        Steel / Ghost
                   ...
Tyranitar          Rock / Dark
Tyrantrum        Rock / Dragon
Victini         Psychic / Fire
Volcanion         Fire / Water
Zekrom       Dragon / Electric
Name: Type, Length: 159, dtype: object

## Selecting Rows

In [53]:
pokemon.head()

Pokemon
Abomasnow      Grass / Ice
Abra               Psychic
Absol                 Dark
Accelgor               Bug
Aegislash    Steel / Ghost
Name: Type, dtype: object

In [52]:
pokemon.iloc[0]

'Grass / Ice'

In [54]:
pokemon.iloc[100]

'Grass / Fighting'

In [59]:
# IndexError - index 1000 does not exist
# pokemon.iloc[10000]

In [74]:
pokemon.iloc[[0, 3, 5]]

Pokemon
Abomasnow       Grass / Ice
Accelgor                Bug
Aerodactyl    Rock / Flying
Name: Type, dtype: object

In [80]:
# IndexError - index 1000 does not exist
# pokemon.iloc[[0, 3, 5, 3000]]

In [79]:
pokemon.iloc[101:104] # 104 is exclusive

Pokemon
Chespin      Grass
Chikorita    Grass
Chimchar      Fire
Name: Type, dtype: object

In [81]:
pokemon.iloc[-10:-3]

Pokemon
Zapdos       Electric / Flying
Zebstrika             Electric
Zekrom       Dragon / Electric
Zeraora               Electric
Zigzagoon               Normal
Zoroark                   Dark
Zorua                     Dark
Name: Type, dtype: object

In [82]:
pokemon.iloc[-8:]

Pokemon
Zekrom       Dragon / Electric
Zeraora               Electric
Zigzagoon               Normal
Zoroark                   Dark
Zorua                     Dark
Zubat          Poison / Flying
Zweilous         Dark / Dragon
Zygarde        Dragon / Ground
Name: Type, dtype: object

In [55]:
pokemon.loc["Pikachu"]

'Electric'

In [56]:
pokemon.loc["Charizard"]

'Fire / Flying'

In [61]:
# KeyError - "Digimon" does not exist
# pokemon.loc["Digimon"]

## BONUS: Review with Numeric Dataset

In [51]:
pd.read_csv("google_stocks.csv")
pd.read_csv("google_stocks.csv", index_col = "Date")
pd.read_csv("google_stocks.csv", index_col = "Date", squeeze = True).head()

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

In [67]:
pd.read_csv(
    "google_stocks.csv",
    index_col = "Date",
    squeeze = True,
    parse_dates = ["Date"]
).head()

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

In [68]:
google = pd.read_csv(
    "google_stocks.csv",
    index_col = "Date",
    squeeze = True,
    parse_dates = ["Date"]
)

In [63]:
google.head()

google.tail()

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

In [69]:
google.sort_values()

google.sort_values(ascending = False)

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
               ...
2004-09-07      50.60
2004-09-02      50.57
2004-08-19      49.98
2004-09-01      49.94
2004-09-03      49.82
Name: Close, Length: 3824, dtype: float64

In [71]:
google.sort_values(ascending = False, inplace = True)

google.head()

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [72]:
google.sort_index()

Date
2004-08-19      49.98
2004-08-20      53.95
2004-08-23      54.50
2004-08-24      52.24
2004-08-25      52.80
               ...
2019-10-21    1246.15
2019-10-22    1242.80
2019-10-23    1259.13
2019-10-24    1260.99
2019-10-25    1265.13
Name: Close, Length: 3824, dtype: float64